
* {
    margin: 0;
    padding: 4px;

}
#main {
    height: 100vh;
    
}

.container {
    display: flex;
    justify-content: space-between;
}

#card {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    
}

